
html, body {
    height: 100%; /* מגדיר את הגובה ל-100% מגובה החלון */
    margin: 0;
    padding: 0;
    overflow: hidden; /* מאפשר גלילה רק אם נחוץ */
    
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* שינוי מ-center ל-flex-start כדי למנוע חיתוך */
    background-image: url('photo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    z-index: -1;
}

footer{
    display: none;
}

.content-center {
    display: flex;
    flex-direction: column;
    justify-content: center; /* ממרכז אנכית */
    align-items: center; /* ממרכז אופקית */
    width: 100%;
    height: 100vh; /* גובה הקונטיינר יהיה כגובה המסך */
    margin: 0;
    padding: 0;
}

h1 {
    
    color: #f6f4f4;
    font-size: 1.3em;
    font-style: italic;
    font-weight: bold;
    text-align: center;   
    white-space: pre-wrap;
    position: relative;
    top: 250px;
    text-shadow:  2px 2px #ff0000;;
}





h2{
    width: auto;
    height: auto;
    color: #f6f4f4;
    display: block;
    font-size: xx-large;
    font-style: italic;
    margin-block-start: 4em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 0px;
    font-weight: bolder;
    unicode-bidi:isolate;
    text-shadow:1px 1px #0ac9e6;
}

.categories, .back-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    color: rgb(248, 248, 249);
    font-size: 17px; /* Increase font size */
    font-weight: bold; /* Make the font bolder */
    line-height: 0.5; /* Increase line spacing */
    margin: 10px 0; /* Add more space between list items */
    padding: 10px; /* Add padding inside each list item */
    background-color: #040404; /* Optional: Add a background color */
    border-radius: 100px;
   
}


.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* ממרכז את האלמנטים אופקית */
    align-items: center; /* ממרכז את האלמנטים אנכית */
    width: 100%;
   height: 2cm; /* מתיחת הקונטיינר לכל גובה המסך */
   align-content: center; /* מבטיח שכל התוכן ימורכז גם אם יש יותר משורה אחת */
   
   
}


.category {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    background-size: cover;
    background-position: center;
    font-size: x-large;
    font-weight: 900 bolder;
    color: #f8f1f1;
    text-decoration: none;
    margin-bottom: 8px;
    
}

#category1 { background-image: url('petah.jpeg'); }
#category2 { background-image: url('burger1.jpeg'); }
#category3 { background-image: url('platah.jpg'); }
#category4 { background-image: url('salad.avif'); }
#category5 { background-image: url('colddrink.jpeg'); }
#category6 { background-image: url('baget.jpeg'); }

.back-button-container {
    position: fixed; /* ממשיך לשמור על פוזיציה קבועה */
    top: 23px; /* שונה מ-bottom ל-top ומגדיר את המרחק מהחלק העליון של המסך */
    right: 3cm; /* מרחק מהצד השמאלי של המסך */
    z-index: 1000; /* דואג שהכפתור יופיע מעל לשאר התכנים */
}


.back-button {
    display: block;
    padding: 15px 30px; /* רווח פנימי: גובה ורוחב */
    background-color: #f9f7f6; /* צבע רקע ירוק */
    color: rgb(3, 3, 3); /* צבע הטקסט לבן */
    text-decoration: none; /* הסרת קו תחתון */
    border: red; /* הסרת מסגרת */
    border-radius: 100px; /* פינות מעוגלות */
    width: 45px;
    height: 70px;
    font-size: 20px; /* גודל הטקסט */
    font-weight:  bolder; /* משקל הטקסט */
    transition: background-color 0.3s, color 0.1s; /* אנימציה בעת העברה */
}


.back-button:hover {
    background-color: #e60a0a; /* שינוי צבע רקע בעת העברת העכבר */
}

.profile-circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    position: fixed;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    box-shadow: 0 8px 12px rgba(249, 2, 2, 0.844); /* צל עדין */
}

.profile-pic {
    width: 100%;
    height: 100%;
}

#homePage::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0.5;
    width: 92%;
    height: 25%; /* מכסה את כל המסך */
    background: url('vegasburgerlogo.jpg') no-repeat center center;
    background-size: cover; /* מתאים את התמונה לכיסוי מלא של המסך */
    z-index: 5; /* משפיל את השכבה לתחתית */
}

.category-page .profile-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: fixed;
    top: 20px;
    left: 80%;
    transform: translateX(-50%);
    z-index: 10;
}

.price {
    float: right; /* Position the price to the right */
    background-color: #121212; /* Light background for the price tag */
    padding: 2px 5px; /* Padding around the price text */
    border-radius: 3px; /* Rounded corners for the price tag */
    font-weight: bold; /* Make the price text bold */
    margin-left: 120px; /* Increased space between the item name and the price */
}
